
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Supports any weight between 100 and 900 */
  font-style: oblique 0deg 20deg; /* Supports slanting ranges */
}

.logo-size {
  width: 90%;    /* Scales to fill parent container */
  max-width: 60%; /* Prevents image from getting too large */
  height: auto;   /* Maintains original proportions */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* El cuerpo ocupa al menos toda la pantalla */
  margin: 0;
}

main {
  flex: 1; /* El main ocupa el espacio restante */
}

footer {
  color: white;
  padding: 30px; /* Usa padding en lugar de height para que sea flexible */
}

.navbar_bg {
  background-image: url('/assets/img/bg_navbar.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Optional: Add a height if the image needs more space */
  min-height: 60px; 
}

.active{
  color: rgb(255, 0, 93) !important;  
}

.nav-link:hover{
  color: rgb(255, 0, 93);
}

h3 {
  font-family: "Jersey 10", sans-serif;
  font-size: 5rem;
  letter-spacing: 5px;
}

.txt_white {
  color: rgb(240, 240, 240);
}

.boxspecial {
  padding-top: 300px;
  color: rgb(235, 235, 235);
}

h4 {
  color: rgb(255, 0, 93) !important;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2px;
}

.subtitulo {
  color: rgb(130, 130, 130);
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
}

.subtitulo_sec {
  margin-bottom: 50px;
  font-family: "Jersey 10", sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  letter-spacing: 20px;
}

.parrafo{
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(111, 111, 111);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-black {
  background-image: url('/assets/img/Fondo-ilus-01.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width : 100%;
}

.bg-white {
  background-image: url('/assets/img/Fondo-white.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width : 100%;
}

.bg-black02 {
  background-image: url('/assets/img/Fondo-black.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width : 100%;
}

.bg-pink {
  background-image: url('/assets/img/Fondo-pink.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 2000px;
  width : 100%;
}

.container_main {
  margin-top: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 60vh; /* Full viewport height */;
}

.container_sec {
  margin-top: 100px;
  padding-top: 0px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vh; /* Full viewport height */;
}

.miniboxes{
  color: rgb(235, 235, 235);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* Space between boxes */
  margin: 0px 0 200px 0; /* Space above the boxes */
}

.miniboxes h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 5px;
}

.minibox{
  width: 260px;
  height: 240px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.minibox p {
  color: rgb(255, 0, 93);
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
}

.shadowbox {
  display: flex;
  align-items: center;    /* Vertically centers child elements */
  justify-content: center;
  color: #FFFF9C;
  width: 45%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
  border-radius: 15px; /* Rounded corners */
}

.picture_cont{
  margin-bottom: 70px;
  display: flex;
  width: 80%;
  height: auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Subtle shadow */
}

.img_big{
  width: 65%;
  height: auto;
  overflow: hidden;
}

.img_small{
  width: 35%;
  height: auto;
  overflow: hidden;
}

.img_adapt {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.btn-pink {
  background-color: rgb(255, 0, 93);
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.btn-white {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.btn-black {
  background-color: rgb(29, 29, 29);
  color: #FFFF9C;;
  font-weight: 700;
}